<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button class="back" text="" ></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-start ion-title-page title">{{"NAV.CHECKOUT"|translate}}</div>
</ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" class="registration-form">
    <ion-grid>
      <ion-row>
          <ion-col col-4>
              <ion-label >{{"Prénom"|translate}}<span class="requires">*</span></ion-label>
              <ion-input formControlName="first_name"  type="text" placeholder="{{'Prénom'|translate}}"></ion-input>
              <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.first_name.valid && myForm.controls.first_name.touched">
                {{"REQUIRED.PRENOM_REQUIERED"|translate}}
            </ion-item>
          </ion-col>
          <ion-col col-4>
              <ion-label >{{"Nom"|translate}}<span class="requires">*</span></ion-label>
              <ion-input  formControlName="last_name"  type="text" placeholder="{{'Nom'|translate}}"></ion-input>
              <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.last_name.valid && myForm.controls.last_name.touched">
                {{"REQUIRED.NOM_REQUIERED"|translate}}
            </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-label >{{"EMAIL"|translate}}<span class="requires">*</span></ion-label>
        <ion-input formControlName="email" type="text"  placeholder="{{'EMAIL'|translate}}"></ion-input>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.email.valid && myForm.controls.email.touched">
          {{"REQUIRED.EMAIL_REQUIERED"|translate}}
      </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-label >{{"Addresse"|translate}}<span class="requires">*</span></ion-label>
            <ion-input  formControlName="address_1" type="text" placeholder="{{'Addresse'|translate}}"></ion-input>
            <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.address_1.valid && myForm.controls.address_1.touched">
              {{"REQUIRED.ADRESSE_REQUIERED"|translate}} 
          </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-label >{{"Ville"|translate}}<span class="requires">*</span></ion-label>
            <ion-input  formControlName="city" type="text" placeholder="{{'Ville'|translate}}"></ion-input>
            <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.city.valid && myForm.controls.city.touched">
              {{"REQUIRED.CITY_REQUIERED"|translate}} 
          </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
        <ion-col>
          <ion-label >{{"Etat"|translate}}<span class="requires">*</span></ion-label>
          <ion-input formControlName="state" type="text" placeholder="{{'Etat'|translate}}"></ion-input>
          <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.state.valid && myForm.controls.state.touched">
            {{"REQUIRED.STATE_REQUIERED"|translate}} 
        </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-label >{{"postcode"|translate}}<span class="requires">*</span></ion-label>
        <ion-input formControlName="postcode" type="text" placeholder="{{'postcode'|translate}}"></ion-input>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.postcode.valid && myForm.controls.postcode.touched">
          {{"REQUIRED.POSTCODE_REQUIERED"|translate}} 
      </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-label >{{"Modepaiement"|translate}}<span class="requires">*</span></ion-label>
            <ion-label position="floating"></ion-label>
            <ion-select  formControlName="paymentMethod" interface="action-sheet" (ionChange)="onChange($event)" cancel-text="Annuler">
              <ion-select-option *ngFor="let gateway of gateways" value="{{gateway.id}}" >{{gateway.title}}</ion-select-option>
             </ion-select>
          </ion-col>
      </ion-row>
  </ion-grid> 
  <ion-grid>
    <ion-row>
        <ion-col>
            <ion-label >{{"Nomproduit"|translate}}<span class="requires">*</span></ion-label>
            <ion-textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="name" type="text" placeholder="{{'Nomproduit'|translate}}"  auto-grow="true" rows="1"></ion-textarea>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
          <ion-label >{{"Prixproduit"|translate}}<span class="requires">*</span></ion-label>
          <ion-input [ngModelOptions]="{standalone: true}" [(ngModel)]="price" type="text" placeholder="{{'Prixproduit'|translate}}" disabled="true" ></ion-input>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
<div class="form-row">
  <div id="card-element"> <!-- a Stripe Element will be inserted here. --> </div>
  <!-- Used to display Element errors -->
  <div id="card-errors" role="alert"></div>
</div>
</ion-col>
</ion-row>
</ion-grid>
  <ion-grid>
    <ion-row> 
      <ion-col>
        <ion-button [disabled]="!myForm.valid || !Stripe " expand="block" (click) ="doCheckout()">{{"BTN_TITLE.ADD_ORDER"|translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>