.title{
	text-transform: capitalize;
}
  
.registration-form{
  ion-input {
    border: solid 1px #000000;
    border-radius: 5px;
    --placeholder-color:#484D4C;
    --padding-start:13.5px;
    line-height:1px;

  }
  ion-label{
      -webkit-flex: none!important; 
      flex: none!important; 
      font-weight: bold;
  }
  ion-select {
      border: solid 1px #000000;
  border-radius: 5px;
    width: 100%;
    max-width: 100%;
    display: flex;;
    overflow: hidden;
  }
  ion-grid{
    margin-left: 28px;
    margin-right: 23px;
  }
  ion-item{
    font-size: 12px;
  }
  ion-button{
    --background:#5B7AFC;
  }
  ion-textarea{
      border: solid 1px #000000;
      border-radius: 5px;
      --placeholder-color:#484D4C;
      --padding-start:13.5px;
    }
  ion-item{
    font-weight: 500;
  }
  .label-title{
    margin-right: 13px !important;
    font-size: 13px;
  }
  .error-message {
    color: var(--ion-color-danger);
  }
  .error-message {
    color: var(--ion-color-danger);
  }
  ion-back-button{
    color:#000000;
  }
  .requires{
    color: var(--ion-color-danger);
  }
  .StripeElement {
    transition: box-shadow 150ms ease;
    border: solid 1px #000000;
    border-radius: 0.3em;
    height: 45px;
    padding-top: 10px;
    padding-left: 2px;
    margin-bottom: 15px;
  }
  .StripeElement--focus {
    border-color:  #000000;
  }
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
}