



@font-face {
    font-family: 'RalewayBold';
    src: url('Raleway-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'RalewayMedium';
    src: url('Raleway-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RalewaySemiBold';
    src: url('Raleway-SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}



/*@font-face {
    font-family: 'objectivitybold';
    src: url('objectivity-bold-webfont.woff2') format('woff2'),
         url('objectivity-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}*/




@font-face {
    font-family: 'objectivitybold_italic';
    src: url('objectivity-boldslanted-webfont.woff2') format('woff2'),
         url('objectivity-boldslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivityextra_bold';
    src: url('objectivity-extrabold-webfont.woff2') format('woff2'),
         url('objectivity-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivityextra_bold_slanted';
    src: url('objectivity-extraboldslanted-webfont.woff2') format('woff2'),
         url('objectivity-extraboldslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivitylight';
    src: url('objectivity-light-webfont.woff2') format('woff2'),
         url('objectivity-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivitylight_slanted';
    src: url('objectivity-lightslanted-webfont.woff2') format('woff2'),
         url('objectivity-lightslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivitymedium';
    src: url('objectivity-medium-webfont.woff2') format('woff2'),
         url('objectivity-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivitymedium_slanted';
    src: url('objectivity-mediumslanted-webfont.woff2') format('woff2'),
         url('objectivity-mediumslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivityregular';
    src: url('objectivity-regular-webfont.woff2') format('woff2'),
         url('objectivity-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'objectivityitalic';
    src: url('objectivity-regularslanted-webfont.woff2') format('woff2'),
         url('objectivity-regularslanted-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}