.title{
	text-transform: capitalize !important;
}
.product-image
{
	width: 100%;
}
@media only screen and (max-width: 240px) {
	.small-content{
		height: 140px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}

}
.product{
    height: 9rem;
    display: block;
    object-fit: cover;
    object-position: top;
  }
@media only screen and (max-width: 320px) and (min-width: 241px) {
	.small-content{
		height: 135px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding-top: 10px;
			padding: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

@media only screen and (min-width: 321px) and (max-width: 500px){
	.small-content{
		height: 100px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding-top: 10px;
			padding: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

@media only screen and (min-width: 501px) {
	.small-content{
		height: 80px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding-top: 10px;
			padding: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}

}

.card-title{
  font-size: 12px;
  text-align: center;
}

.product-description
{
    text-align: center;
	font-size: 14px;
	margin: 0px 0px 0px;
	text-overflow: ellipsis;
//	white-space: nowrap;
	overflow: hidden;
	.actual-price
	{
		color: #5b7afc!important;
    	font-family: "RalewayBold", sans-serif ;
    	font-style: italic;
    	text-shadow: 0 3px 5px #c2c2c2;
    	vertical-align: middle;
    	font-weight: 900;
		letter-spacing: -.7px;
	}
	.previous-price
	{
		text-shadow: 0 0 0 transparent;
    	-webkit-text-stroke: 0 #fff;
    	color: #646464!important;
    	letter-spacing: 1px;
    	font-weight: 700;
		text-decoration: line-through;

		&::before
		{
			content: '';
			width: 0px;
			height: 100%;
			//border-right: solid 2px;
		  	margin: 0px 6px 0px 3px;
		}
	}
}

.list-container{
	padding-top: 5.6rem;
	text-align: center;
	align-items: center;
}

ion-label{
	-webkit-flex: none!important; 
	flex: none!important; 
	font-weight: bold;
}

ion-select {
  width: 100%;
  max-width: 100%;
  display: flex;;
  overflow: hidden;
}

.layout.active {
	color: #5b7afc;
}

.layout{
	color: medium;
}

.nameproduct{
	font-size: 15px;
	font-weight: bold;
}

.mylist{
	//padding: 10px;
	background-color:#F8F8F8;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.product-description2
{
	font-size: 15px;
	margin: 5px 0px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	.actual-price
	{
		color: #5b7afc!important;
    	font-family: "RalewayBold", sans-serif ;
    	font-style: italic;
    	text-shadow: 0 3px 5px #c2c2c2;
    	vertical-align: middle;
    	font-weight: 900;
		letter-spacing: -.7px;
	}
	.previous-price
	{
		text-shadow: 0 0 0 transparent;
    	-webkit-text-stroke: 0 #fff;
    	color: #646464!important;
    	letter-spacing: 1px;
    	font-weight: 700;
		text-decoration: line-through;
		&::before
		{
			content: '';
			width: 0px;
			height: 100%;
		  	margin: 0px 6px 0px 3px;
		}
	}
}

.descript{
	margin: 5px 5px 10px;
	font-size: 14px;
}

.descript p:nth-child(5) {
	display: none !important;
}



