<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button class="back" text="" ></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-start ion-title-page title">{{name}}</div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!--<ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-label>Sort by:</ion-label>
      </ion-col> 
      <ion-col size="8">
        <ion-select #sort (ionChange)="changeSort(sort)" interface="action-sheet" cancel-text="Annuler" width="50%">
          <ion-select-option  value="title">Name - A to Z</ion-select-option>
          <ion-select-option  value="price">Price - Lowest first</ion-select-option>
          <ion-select-option  value="price-desc">Price - Highest first</ion-select-option>
          <ion-select-option  value="stock_quantity">In stock</ion-select-option>
          <ion-select-option  value="asc">Ascending</ion-select-option>
          <ion-select-option  value="desc">Descending</ion-select-option>
        </ion-select>
      </ion-col> 
      <ion-col size="2">
        <ion-icon class="layout" name="grid-outline" (click)="onDisplayModeChange(1)" [ngClass]="{'btn-primary active': displayMode === 1}" ></ion-icon>            
        <ion-icon class="layout" name="list-outline" (click)="onDisplayModeChange(2)" [ngClass]="{'btn-primary active': displayMode === 2}"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>-->
  <ion-item>
    <ion-label>{{'SORT'|translate}}</ion-label>
    <ion-select #sort (ionChange)="changeSort(sort)" interface="action-sheet" cancel-text="Annuler" width="50%">
      <ion-select-option  value="title">{{'SORT_A_Z'|translate}}</ion-select-option>
      <ion-select-option  value="price">{{'SORT_ASC_PRICE'|translate}}</ion-select-option>
      <ion-select-option  value="price-desc">{{'SORT_DESC_PRICE'|translate}}</ion-select-option>
      <ion-select-option  value="stock_quantity">{{'SORT_IN_STOCK'|translate}}</ion-select-option>
      <ion-select-option  value="asc">{{'SORT_DESC'|translate}}</ion-select-option>
      <ion-select-option  value="desc">{{'SORT_ASC'|translate}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">

    <ion-icon slot="end" class="layout" name="grid" (click)="onDisplayModeChange(1)" [ngClass]="{'btn-primary active': displayMode === 1}" size="small"></ion-icon>            
    <ion-icon slot="end" class="layout" name="reorder-four" (click)="onDisplayModeChange(2)" [ngClass]="{'btn-primary active': displayMode === 2}" size="small"></ion-icon>
  </ion-item>
  <ion-progress-bar *ngIf="loading === true" type="indeterminate"></ion-progress-bar>
  <ion-grid *ngIf="displayMode === 1">
    <ion-row>
      <ion-col *ngFor="let product of products" size="6">
        <div *ngIf="product.images.length" (click)="viewDetails(product.id)">
          <img  class="product-image" src="{{ product.images[0].src }}" (load)="product.loaded=true" [hidden]="!product.loaded">
          <img src="assets/image/02.png" [hidden]="product.loaded">
          <ion-card class="small-content">
            <ion-card-header>
              <ion-card-title class="card-title">{{product.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="product-description" *ngIf="product.sale_price">
                <b class="actual-price">{{product.sale_price}} €</b>
                <span class="previous-price" [hidden]="product.price == '0'" text-wrap>{{product.regular_price}} €</span>
              </p>
              <p class="product-description" *ngIf="!product.sale_price">
                <span class="actual-price" [hidden]="product.price == '0'" text-wrap>{{product.regular_price}} €</span>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="displayMode === 2">
    <div class="card" *ngFor="let product of products">
      <ng-container>
        <div class="info-container">
          <ion-grid>
            <ion-row class="mylist" *ngIf="product.images.length" (click)="viewDetails(product.id)"> 
              <ion-col size="4">
                <img class="product" src="{{ product.images[0].src }}" (load)="product.loaded=true" [hidden]="!product.loaded">
                <img class="product" src="assets/image/02.png" [hidden]="product.loaded">
              </ion-col>
              <ion-col size="8">
                <label class="nameproduct">{{product.name}}</label>
                <div class="descript" [innerHtml]="product.short_description" text-wrap>
                </div>
                <p class="product-description2" *ngIf="product.sale_price">
                  <b class="actual-price">{{product.sale_price}} €</b>
                  <span class="previous-price" [hidden]="product.price == '0'">{{product.regular_price}} €</span>
                </p>
                <p class="product-description2" *ngIf="!product.sale_price" >
                  <span class="actual-price" [hidden]="product.price == '0'">{{product.regular_price}} €</span>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-container>
    </div>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{'loadingText' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
