<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button class="back" text="" ></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-start ion-title-page title">{{ "NAV.DETAILS_ORDER"|translate }}</div>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> 
      <ion-card-title>{{ "NAV.DETAILS_ORDER"|translate }} :</ion-card-title>
      <ion-card-title color="primary" id="orderid" >{{"Commande_no"|translate}} : {{order.id}}</ion-card-title>
      <ion-card-subtitle class="hour"> <ion-icon src="assets/image/clock.svg"></ion-icon><span>{{order.date_created | date: 'dd/MM/yyyy H:mm' }}</span></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-badge class="order-status-{{order.status}}">{{order.status}}</ion-badge>
    </ion-card-content>   
  </ion-card>
  <ion-card>
  <ion-card-header> 
    <ion-card-title>{{"PRODUCTS"|translate}} : </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <div class="card" *ngFor="let item of order['line_items']">
        <ion-item>

          <img  class="product" src="{{item.image}}" (load)="item.loaded=true" [hidden]="!item.loaded" />
          <img  class="product" src="assets/image/02.png" [hidden]="item.loaded" width="50px" height="50px">
          <!--<ion-badge slot="start" size="large" color="primary">{{item.quantity}}</ion-badge>-->
          <ion-label class="nameproduct" text-wrap>{{item.name}}</ion-label>
          <ion-note slot="end" size="large" text-wrap color="primary">{{item.quantity}}</ion-note>
          <!-- <ion-note slot="end" size="large" text-wrap>{{item.total}} {{order.currency_symbol}}</ion-note> -->
        </ion-item>
      </div>
      <ion-item lines="none">
        <ion-label text-wrap> {{"TOTAL_PRICE"|translate}} : </ion-label>
        <ion-note slot="end" size="large" text-wrap>{{order.total}}  {{order.currency_symbol}}</ion-note>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label slot="start" text-wrap>{{"PAYMENT_METHOD"|translate}} : </ion-label>
        <ion-note slot="end" size="large" text-wrap>{{order.payment_method_title}}</ion-note>
      </ion-item>
      
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-button expand="block" (click) ="createPdf()" ><ion-icon name="download"></ion-icon>&nbsp;{{"BTN_TITLE.CREATE_PDF"|translate}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [disabled]="!pdfObj"  expand="block" (click) ="downloadPdf()" ><ion-icon name="download"></ion-icon>&nbsp;{{"BTN_TITLE.DOWNLOAD_PDF"|translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
