.divider{
    color:black;
    background-color: lightgray;
}
.title{
	text-transform: capitalize;
}
ion-note{
    font-size: 17px;
}

#orderid{
    font-size:  17px;
}

.order-status-pending{
    color: black;
    background-color:  rgb(224, 136, 3);
    font-size:  15px;
  }
  .order-status-processing{
    color: white;
    background-color:  rgb(255, 72, 0);
    font-size:  15px;
  }
  .order-status-on-hold{
    color:rgb(105, 128, 0); 
    font-size:  15px;
  }
  .order-status-completed{
    color: darkgreen; 
    font-size:  15px;
  }
  .order-status-cancelled{
    color: red; 
    font-size:  15px;
  }
  .order-status-refunded{
    color: blue; 
    font-size:  15px;
  }
  .order-status-failed{
    color: purple; 
    font-size:  15px;
  }
  .order-status-trash{
    color: #464242; 
    font-size: 15px;
  }
  .product{
    height: 5.6rem;
    width: 5.6rem;
    display: block;
    object-fit: cover;
    object-position: top;
  }
  .hour{
    font-size: 1.1rem;
    color: black;
    display: flex;
    align-items: center;
    span {
      margin-left: .4rem;
    }
  }
  .nameproduct{
    margin-left: 10px;
  }