<ion-content>

  <div class="app-title">
      <img src="assets/image/logo.svg" alt="">
  </div>
  <div class="title">
    <span >{{"Identifiez-vous"|translate}}</span>
</div>
  <form [formGroup]="myForm" class="login-form" (ngSubmit)="login()" #form>
    <div class="field-email">
      <ion-label position="stacked">{{"Email"|translate}}</ion-label>
        <ion-item class="login" lines="none">
          <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input formControlName="email" name="email" required="true" [(ngModel)]="email" type="email"></ion-input>
        </ion-item>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.email.valid && myForm.controls.email.touched">
          Please enter a valid email.
      </ion-item>
    </div>
      <div class="field-password">
          <ion-label position="stacked">{{"Password"|translate}}</ion-label>
          <ion-item class="login" lines="none" *ngIf="showpassword">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-input clear-on-edit="false" formControlName="password" name="password" required="true" [(ngModel)]="password" type="text"></ion-input>
              <ion-icon name="eye" color="dark" slot="end" (click)="togglePasswordText()"></ion-icon>
          </ion-item>
          <ion-item class="login" lines="none" *ngIf="!showpassword">
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
              <ion-input clear-on-edit="false" formControlName="password" name="password" required="true" [(ngModel)]="password" type="password"></ion-input>
              <ion-icon name="eye-off-outline" color="dark" slot="end" (click)="togglePasswordText()"></ion-icon>
          </ion-item>
          <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.password.valid && myForm.controls.password.touched">
              Please enter a valid password.
          </ion-item>
      </div>
  
  <div class="reset-password">
      <a [routerLink]="['forgot']">{{"Forgot Password ?" | translate}}</a>
  </div>
  <div>
      <ion-button  [disabled]="!form.checkValidity() || !myForm.valid " type="submit" class="btn-login"  expand="block">{{"Login"|translate}}</ion-button>
  </div> 
</form>
  <ion-row>
      <ion-col class="ion-text-center">
        <div class="account">
          <span > Don't have an account ?</span><span [routerLink]="['register']" class="register">Signup</span>
        </div>
      </ion-col>
    </ion-row>
</ion-content>
