

.app-title{
 
    //margin: 5.7rem 4.087rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    img{
      display: flex;
      height: 4.499rem ;
      width: 100%;
    }
  }
  .field-password{
    margin-bottom: 0px;
  }
  .title{
   color:#5B7AFC;
   font-family: "RalewayBold", sans-serif;
   font-size: 30px;
   font-weight: bold;
   text-align: center;
    
  }
  ion-button{
    margin: 0;
       text-transform: capitalize;
  }
  
  ion-label{
    font-size: 14px;
    color: #1A2E35;
      font-family: "RalewayMedium", sans-serif;
     /*  padding-top: .8rem;
      padding-bottom: .8rem; */
      margin-bottom: 10px !important;
      display: block;
  }
  
  
  ion-input{
    font-family: "RalewayMedium", sans-serif ;
    color: #464242;
    line-height: 1.1;
  }
  .btn-login{
    margin-top: 13px;
    border-radius: 5px;
    font-size: 1.2rem;
    --box-shadow: none !important;
    background:#5B7AFC;
    color: #FFFFFF;
    --padding-top: 1.6rem;
    --padding-bottom: 1.6rem;
   // height: 4.5rem;
    font-family: 'RalewayMedium',sans-serif;
  }
  
  ion-content{
    --padding-start: 3.2rem;
    --padding-end: 3.2rem;
  }
  
  ion-item{
    --border-color:#707070;
    --padding-start: 0;
  }
  .reset-password{
    display: flex;
    flex-direction: row-reverse;
    a{
      color: #5B7AFC ;
      padding: .8rem 0 .4rem 1.4rem;
      text-decoration: unset;
      font-family: "RalewaySemiBold", sans-serif ;
      font-size: 1.2rem;
      display: block;
    }
  }
  .account{
    font-family: "RalewayMedium", sans-serif ;
    color:#646464;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  ion-icon{
      color:#5B7AFC;
  }
  .register{
    font-family: "RalewayBold", sans-serif ;
    color: #41BDF1;
    font-size: 1.2rem;
    //margin: 10px;
    display: block;
    outline: none;
  }
  .login{
    border: solid 1px #707070;
      border-radius: 5px;
      --placeholder-color:#484D4C;
      --padding-start:13.5px;
      line-height: 1.1;
      font-family: "RalewayMedium", sans-serif;
  }
  .error-message {
    color: var(--ion-color-danger);
  }
  
  
  
  