<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" mode="ios">Setting</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
