
ion-tab-bar {
    height       : 60px;
    background   : linear-gradient(to right, #1a7cdb, #115bab);
    border-radius: 12px 12px 0 0;
    border       : 0;

    ion-tab-button {
        font-size       : 11px;
        font-weight     : 400;
        background      : transparent;
        --color         : rgba(255, 255, 255, 0.6);
        --color-selected: #ffffff;
        position        : relative;

        ::ng-deep ion-label {
            font-weight: 400;
        }
    }

    .tab-selected {
        ::ng-deep ion-label {
            font-weight: 700;
        }

        &:before {
            position  : absolute;
            height    : 3px;
            width     : 100px;
            background: #ffffff;
            content   : "";
            top       : 3px;
            left      : 0;
            right     : 0;
            margin    : auto;
        }
    }
    .custom-loading {
        --background: none;      
    }
    
    ion-loading {
        --ion-backdrop-opacity: 0;
    }   
}

ion-badge {
    font-size: 10px;
    padding: 2px;
}