<ion-tabs id="mytabs">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{ "TABS.HOME"|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>{{ "TABS.CATEG"|translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-badge color="danger" size="large">{{item_count}}</ion-badge>
      <ion-label>{{ "TABS.CART"|translate }}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>{{ "TABS.COMPTE"|translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
