<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" mode="ios">
      {{ "NAV.CATEG"|translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  <br>
  <ion-progress-bar *ngIf="searching === true" type="indeterminate"></ion-progress-bar>

  <ion-card>
    <ion-input [(ngModel)]="searchStr"></ion-input>
  </ion-card>
  <ion-button expand="block" (click)="search()">Search</ion-button>

  <br> 
  
  <ion-card *ngFor="let item of getKeys(thumbs)">
      <ion-card-header>
          <ion-card-title>
            {{thumbs.get(item).title}}
          </ion-card-title>
      </ion-card-header>    
      <ion-card-content>
          <div [innerHTML]="thumbs.get(item).content"></div>
      </ion-card-content>
  </ion-card>
  "'/ca.name/'+ ca.id"
  <ion-button *ngIf="loaded === true" (click)="next()">More posts</ion-button>
</ion-content>
routerLink]="'/tabs/category/'+ cats.get(item).slug"
(click) ="openDetailsWithQueryParams(categorie.id,categorie.name)"
 (click) ="openDetailsWithQueryParams(categorie.id,categorie.name)"
 -->
 <ion-content padding>
  <br>
  <ion-progress-bar *ngIf="loading === true" type="indeterminate"></ion-progress-bar>
  <ion-list *ngFor="let categorie of categories" (click) ="openDetailsWithQueryParams(categorie.id,categorie.name)">
    <ion-item *ngIf="categorie.id !== 15 && ! categorie.parent ">  
        <ion-label >
          <h2>{{categorie.name}}</h2>
        </ion-label>
        <ion-icon name="caret-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>