
<ion-content>
  <form [formGroup]="myForm">
    <div>
      <img src="assets/image/logo.svg" alt="">
      <div class="ion-text-center"> <b>Forgot your password</b></div>
    </div>
    <br>
    <ion-grid>
      <div *ngIf="true" class="ion-text-center"> <b class="title">please enter your email address and we will get you back soon</b></div></ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label ><b>Email</b></ion-label>
          <ion-item>
            <ion-input [(ngModel)]="email" formControlName="email" type="text" placeholder="E-mail"></ion-input>
          </ion-item>

        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-button  [disabled]="!myForm.valid" (click) ="forgotpassword()" expand="block"><b>Submit</b></ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <div (click) ="goBack()" class="ion-text-center"> <b class="small-text">{{"Return to sign in"|translate}}</b></div></ion-grid>
  </form>
</ion-content>
