img{
    margin-top: 3rem;
    margin-bottom: 2rem;
      display: flex;
      height: 4.499rem ;
      width: 100%;
  }
  .ion-text-center{
    color:#A00D0D !important;
    font-size: 16px;
    font-family: "RalewayMedium", sans-serif ;
  }
  ion-grid{
    margin-right: 45px;
    margin-left: 36px;
  }
  .title{
    font-size: 12.75px;
    color: #464242;
    font-family: "RalewayBold", sans-serif ;
  }
  ion-grid{
    margin-left: 36px;
    margin-right: 45px;
  }
  ion-label{
    color: #707070;
    font-size: 13px;
    font-family: "RalewayBold", sans-serif ;
  }
  ion-input {
    color:#464242 ;
    font-family: "RalewayBold", sans-serif ;
    font-size: 16px;
  }
  ion-item{
    --border-color: #000000;
    --padding-start:0;
  }
  ion-button{
    --background: #5B7AFC;
    font-size: 17px;
    --border-radius:5px ;
    font-family: "RalewayMedium", sans-serif ;
    text-transform: capitalize;
  }
  .small-text{
    font-family: "RalewayBold" !important;
    font-size: 16px !important;
    color: #000000 !important;
  }
  .error-message {
    color: var(--ion-color-danger);
  }