/* ion-slides{    
    bottom: 0;
    width: 100%;    
    height: 300px;
    display: block;        
    background-color: #e6e6e6;
    img{
        width: auto;
        height: auto;
        object-fit: contain;
    }
}
ion-buttons{
    color:"#000000";
}
  */
.product-image
{
	width: 100%;
}
  
.results-div{
	border-bottom: 5%;
	.results{
		text-align: center;
	}
}

.card-title{
	font-size: 12px;
	text-align: center;
	//height: 20px;
}
  
  ion-searchbar {
	  --border-radius: 2.0rem;
	  --background: #F7FAF9;
	  --placeholder-color: #000000;
	  --icon-color: #454141;
	  --placeholder-opacity: 0.8;
	  padding-left: 1.9rem;
	  padding-right: 2.3rem;
	  --box-shadow: none !important;
	  z-index: 99;
	  background: white;
  }
  
  .product-description
  {
	  text-align: center;
	  font-size: 14px;
	  margin: 0px 0px 0px;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  //padding-inline: 10px;
	  .actual-price
	  {
		  color: #5b7afc!important;
		  font-family: "RalewayBold", sans-serif ;
		  font-style: italic;
		  text-shadow: 0 3px 5px #c2c2c2;
		  vertical-align: middle;
		  font-weight: 900;
		  letter-spacing: -.7px;
	  }
	  .previous-price
	  {
		  text-shadow: 0 0 0 transparent;
		  -webkit-text-stroke: 0 #fff;
		  color: #646464!important;
		  letter-spacing: 1px;
		  font-weight: 700;
		  text-decoration: line-through;
		  &::before
		  {
			  content: '';
			  width: 0px;
			  height: 100%;
				margin: 0px 6px 0px 3px;
		  }
	  }
  }
  
  .list-container{
	  padding-top: 5.6rem;
	  text-align: center;
	  align-items: center;
  }
  
  #my-badge{
	  margin-left: -20px;
	  margin-top: -18px;
	  font-size: 12px;
	  margin-right: 10px;
  }
  
  .navbaricon{
	  font-size: 25px !important;
	  margin-right: 10px;
  }
  
  @media only screen and (max-width: 240px) {
	  .small-content{
		  height: 140px;
		  background-color:#F8F8F8;
		  ion-card-header{
			  padding-inline: 10px;
			  padding: 10px;
			  padding-top: 10px;
		  }
		  ion-card-content{
			  -webkit-padding-start: 6px;
			  -webkit-padding-end: 6px;
		  }
	  }
  }
  
  @media only screen and (max-width: 320px) and (min-width: 241px) {
	  .small-content{
		  height: 135px;
		  background-color:#F8F8F8;
		  ion-card-header{
			  padding-inline: 10px;
			  padding-top: 10px;
			  padding: 10px;
		  }
		  ion-card-content{
  
			  -webkit-padding-start: 6px;
			  -webkit-padding-end: 6px;
		  }
	  }
  }
  
  @media only screen and (min-width: 321px) and (max-width: 500px){
	  .small-content{
		  height: 100px;
		  background-color:#F8F8F8;
		  ion-card-header{
			  padding-inline: 10px;
			  padding-top: 10px;
			  padding: 10px;
		  }
		  ion-card-content{
			  -webkit-padding-start: 6px;
			  -webkit-padding-end: 6px;
		  }
	  }
  }
  
  @media only screen and (min-width: 501px) {
	  .small-content{
		  height: 80px;
		  background-color:#F8F8F8;
		  ion-card-header{
			  padding-inline: 10px;
			  padding-top: 10px;
			  padding: 10px;
		  }
		  ion-card-content{
			  -webkit-padding-start: 6px;
			  -webkit-padding-end: 6px;
		  }
	  }
  }