<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" mode="ios"> {{ "NAV.HOME"|translate }}</ion-title>
    <ion-icon id="icon-search" name="funnel" slot="end" class="navbaricon" (click)="filterProducts()"></ion-icon>
    <ion-icon id="icon-fav" name="heart" slot="end" class="navbaricon" (click)="wishlist()"></ion-icon>
    <ion-badge id="my-badge" (click)="viewCard()" color="danger" slot="end">{{like}}</ion-badge>
    <ion-icon id="icon-cart" class="navbaricon" name="cart" slot="end"></ion-icon>
    <ion-badge id="my-badge" (click)="viewCard()" color="danger" slot="end">{{item_count}}</ion-badge>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
      <ion-refresher-content
        pullingIcon="chevron-down-circle-outline"
        pullingText="{{'pullingText' | translate}}"
        refreshingSpinner="circles"
        refreshingText="{{'refreshingText' | translate}}"> 
      </ion-refresher-content>
    </ion-refresher>
    
    <div class="searchbar-container">
      <ion-searchbar placeholder="{{'SEARCH' | translate}}" searchIcon="search-sharp" (ionChange)="searchName($event.target.value)"
      ></ion-searchbar>
  </div>
  <ng-container *ngIf="!products.length">
    <div class="list-container">
      {{ "NO_DATA.PRODUCT"|translate }}
    </div>
</ng-container>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let product of products" size="6">
          <div (click)="viewDetails(product.id)">
            <img src="{{product.images[0].src}}" (load)="product.loaded=true" [hidden]="!product.loaded" />
            <img src="assets/image/02.png" [hidden]="product.loaded">
          <ion-card class="small-content">
            <ion-card-header>
              <ion-card-title class="card-title">{{product.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="product-description" *ngIf="product.sale_price">
                <b class="actual-price">{{product.sale_price}} €</b>
                <span class="previous-price" [hidden]="product.price == '0'" text-wrap>{{product.regular_price}} €</span>
              </p>
              <p class="product-description" *ngIf="!product.sale_price" >
                <span class="actual-price" [hidden]="product.price == '0'" text-wrap>{{product.regular_price}} €</span>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid> 
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'loadingText' | translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
