<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" mode="ios">
      {{ "NAV.CART"|translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding >

  <ng-container *ngIf="!products.length && contentloaded">
    <div class="list-container">
      {{ "NO_DATA.PRODUCT"|translate }}
    </div>
</ng-container>

  <ion-grid  *ngIf="contentloaded">
    <ion-row>
        <ion-col *ngFor="let product of products" size="6">
          <div *ngIf="product['product_image']">
            <ion-card class="small-content">
              <img  class="product-image" src="{{ product['product_image'] }}" (load)="product.loaded=true" [hidden]="!product.loaded" (click)="viewDetails(product.product_id)">
              <img src="assets/image/02.png" [hidden]="product.loaded">
              <div class="delete-container">
                  <ion-icon name="trash" (click)="removeProduct(product)" color="primary"></ion-icon>
              </div>
              <ion-card-header>
                <ion-card-title class="card-title">{{product.product_name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="product-description">
                  <span class="actual-price">{{product.product_price}}</span>
                </p>
              </ion-card-content>
             
              </ion-card>
          </div>
        </ion-col>
    </ion-row>
    </ion-grid>
    
    <!--<div class="totalprice" *ngIf="products.length && products[products.length-1]['product_image']">
      <ion-item lines="none" expand="block" color="primary">
        <ion-label>Total: {{ totalprice }}</ion-label>
      </ion-item>
    </div>-->

    <ion-grid  *ngIf="!contentloaded">
      <ion-row>
        <ion-col size="6"> 
          <ion-card class="small-content">
            <ion-thumbnail  class="product-image">
              <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
            </ion-thumbnail> 
            <div class="delete-container">
              <ion-thumbnail>
                <ion-skeleton-text animated style="width: 40%; height: 40%"></ion-skeleton-text>
              </ion-thumbnail>
          </div>
          <ion-card-header style="padding-top: 150px;">
             <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
           </ion-card-header>
           <ion-card-content>
             <p class="product-description">
               <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
             </p>
           </ion-card-content>
          </ion-card>
      </ion-col>
        <ion-col size="6"> 
          <ion-card class="small-content">
            <ion-thumbnail  class="product-image">
              <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
            </ion-thumbnail> 
            <div class="delete-container">
              <ion-thumbnail>
                <ion-skeleton-text animated style="width: 40%; height: 40%"></ion-skeleton-text>
              </ion-thumbnail>
          </div>
          <ion-card-header style="padding-top: 150px;">
             <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
           </ion-card-header>
           <ion-card-content>
             <p class="product-description">
               <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
             </p>
           </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size="6"> 
        <ion-card class="small-content">
          <ion-thumbnail  class="product-image">
            <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
          </ion-thumbnail> 
          <div class="delete-container">
            <ion-thumbnail>
              <ion-skeleton-text animated style="width: 40%; height: 40%"></ion-skeleton-text>
            </ion-thumbnail>
        </div>
        <ion-card-header style="padding-top: 150px;">
           <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
         </ion-card-header>
         <ion-card-content>
           <p class="product-description">
             <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
           </p>
         </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col size="6"> 
      <ion-card class="small-content">
        <ion-thumbnail  class="product-image">
          <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
        </ion-thumbnail> 
        <div class="delete-container">
          <ion-thumbnail>
            <ion-skeleton-text animated style="width: 40%; height: 40%"></ion-skeleton-text>
          </ion-thumbnail>
      </div>
      <ion-card-header style="padding-top: 150px;">
         <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
       </ion-card-header>
       <ion-card-content>
         <p class="product-description">
           <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
         </p>
       </ion-card-content>
      </ion-card>
  </ion-col>

      </ion-row>
    </ion-grid>
</ion-content>

<ion-footer class="ion-border" *ngIf="contentloaded && products.length && products[products.length-1]['product_image']">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="check">
        <ion-col style="text-align: center;">
         <!-- <ion-label id="totprice"></ion-label>-->
          <ion-button fill="outline" color="primary">{{ "TOTAL"|translate }}: {{ totalprice }}</ion-button>
        </ion-col>
        <ion-col *ngIf="token">
          <ion-button class="checkout" expand="block" (click)="goCheckout(products)">
            {{ "NAV.CHECKOUT"|translate }}
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
