/* .card{
	padding: 0.8rem;
	display: flex;
	min-height: 9rem;
	background: #F7FAF9;
	border-radius: .7rem;
	margin-bottom: 10px;
	position: relative;
	&.isPending{
	  background-color: #efefef;
	}


	.info-container{
	  flex: 0 0 82%;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  .title{
		color:#000000;
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
		margin-bottom: 1rem;
	  }
	  
	}
	.delete-container{
	  ion-button {
		font-size: 1rem;
		position: absolute;
		top: 8px;
      right: 8px;
  
	  }
	}
  }
  .name {
	color: #5b7afc!important;
    font-family: "RalewayBold", sans-serif ;
    font-size: 20px;
    font-style: italic;
    text-shadow: 0 3px 5px #c2c2c2;
    vertical-align: middle;
    font-weight: 900;
    letter-spacing: -.7px;
    text-align: center;
  }
  .product-image{
	width: 6rem;
	height: 6rem;
	object-fit: cover;
	object-position: top;
  }

*/

.totalprice{
	ion-item {
		text-align: center;
		padding: 10px;
	}
}

.product-image
{
	width: 100%;
	//background-color: lightgray;
}

/*.small-content{
	min-height: 290px;
	background-color:#F8F8F8;
}*/

.card-title{
	font-size: 12px;
	text-align: center;
	//height: 20px;
}

.product-description
{
	text-align: center;
	font-size: 15px;
	margin: 0px 0px 0px;
	text-overflow: ellipsis;
	//white-space: nowrap;
	overflow: hidden;
	.actual-price
	{
		color: #5b7afc!important;
		font-family: "RalewayBold", sans-serif ;
		font-style: italic;
		text-shadow: 0 3px 5px #c2c2c2;
		vertical-align: middle;
		font-weight: 900;
		letter-spacing: -.7px;
	}

	.previous-price
	{
		text-shadow: 0 0 0 transparent;
		-webkit-text-stroke: 0 #fff;
		color: #646464!important;
		letter-spacing: 1px;
		font-weight: 700;
		text-decoration: line-through;
		&::before
		{
			content: '';
			width: 0px;
			height: 100%;
			margin: 0px 6px 0px 3px;
		}
	}
}

.list-container{
	padding-top: 5.6rem;
	text-align: center;
	align-items: center;
}

.delete-container{
	//background-color: #5b7afc;
	//opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	border-bottom-left-radius: 5px 5px;
	width: 30px;
	height: 21px;
	text-align: center;
	ion-icon{
		color: white;
		//text-align: center;
		//padding-left: 5px;
		//padding-right: 5px;
		font-size: 20px;
	}
}

#totprice{
	vertical-align: middle;
}

.quantity-container{
	display: inline-block;

}

.custom-skeleton ion-skeleton-text {
	line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
  }

@media only screen and (max-width: 500px) {
	.small-content{
		height: 290px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}


@media only screen and (min-width: 501px) and (max-width: 670px){
	.small-content{
		height: 390px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

@media only screen and (min-width: 671px) and (max-width: 800px){
	.small-content{
		height: 450px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

@media only screen and (min-width: 801px){
	.small-content{
		min-height: 450px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

