<!--<ion-header>
  <ion-toolbar>
    <ion-title>editProfil</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button class="back" text="" ></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-start ion-title-page title">{{"NAV.EDIT_PROFILE"|translate}}</div>
</ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="myForm" class="edit-profil-form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label >{{"Prénom"|translate}}<span class="requires">*</span></ion-label>
          <ion-input formControlName="first_name"  type="text" [(ngModel)]="firstname" placeholder="{{'Prénom'|translate}}" value=""></ion-input>
          <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.first_name.valid && myForm.controls.first_name.touched">
            {{"REQUIRED.PRENOM_REQUIERED"|translate}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-label >{{"Nom"|translate}}<span class="requires">*</span></ion-label>
            <ion-input  formControlName="last_name"  type="text" [(ngModel)]="lastname" placeholder="{{'Nom'|translate}}" value=""></ion-input>
            <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.last_name.valid && myForm.controls.last_name.touched">
              {{"REQUIRED.NOM_REQUIERED"|translate}}
          </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col>
            <ion-label >{{"EMAIL"|translate}}<span class="requires">*</span></ion-label>
            <ion-input formControlName="email" type="text" [(ngModel)]="email" placeholder="{{'EMAIL'|translate}}" value=""></ion-input>
            <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.email.valid && myForm.controls.email.touched">
              {{"REQUIRED.EMAIL_REQUIERED"|translate}}
          </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
  <!--  <ion-grid>
      <ion-row>
          <ion-col>
            <ion-label >{{"Password"|translate}}<span class="requires">*</span></ion-label>
            <ion-input clear-on-edit="false" formControlName="password" [(ngModel)]="password" type="password" placeholder="new password" value=""></ion-input>
            <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.password.valid && myForm.controls.password.touched">
              Please enter a valid password Minimum 8 characters.
          </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label>{{"Addresse"|translate}}</ion-label>
              <ion-input formControlName="address_1"  type="text" placeholder="{{'Addresse'|translate}}"></ion-input>
              <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.address_1.valid && myForm.controls.address_1.touched">
                {{"REQUIRED.ADRESSE_REQUIERED"|translate}} 
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label >{{"Téléphone"|translate}}</ion-label>
              <ion-input  formControlName="phone" type="text" placeholder="{{'Téléphone'|translate}}" ></ion-input >
                <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.phone.valid && myForm.controls.phone.touched">
                  {{"REQUIRED.PHONE_REQUIERED"|translate}} 
                </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label >{{"Entreprise"|translate}}</ion-label>
              <ion-input formControlName="company" type="text" placeholder="{{'Entreprise'|translate}}"></ion-input>
              <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.company.valid && myForm.controls.company.touched">
                {{"REQUIRED.COMPANY_REQUIERED"|translate}} 
              </ion-item>
          </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="editprofil" [disabled]="!myForm.valid" expand="block" (click) ="updateUser()" >{{ "BTN_TITLE.BTN_EDIT_PROFILE"|translate }}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>

