.title{
  text-transform: capitalize;
}
  .edit-profil-form{
    ::ng-deep{
      input,input::placeholder{
        line-height: 1.1;
      }
      font-family: "RalewayMedium", sans-serif ;
    }
    ion-input {
      border: solid 1px #707070;
      border-radius: 5px;
      --placeholder-color:#484D4C;
      --padding-start:13.5px;
      line-height: 1.1;
      font-family: "RalewayMedium", sans-serif ;
  
    }
    ion-grid{
      margin-left: 28px;
      margin-right: 23px;
    }
    ion-label{
      font-size: 14px;
      color: #1A2E35;
      font-weight: bold;
        font-family: "RalewayMedium", sans-serif;
       /*  padding-top: .8rem;
        padding-bottom: .8rem; */
        margin-bottom: 10px !important;
        display: block;
    }
    ion-item{
      font-size: 12px;
    }
    ion-button{
      margin-top: 10px;
      font-size: 1.0rem;
      --background:#5B7AFC;
      text-transform: capitalize;
      font-family: "RalewayMedium", sans-serif ;
      --padding-top: 1.3rem;
      --padding-bottom: 1.3rem;
    }
    ion-item{
      font-weight: 500;
    }
    .label-title{
      margin-right: 13px !important;
      font-size: 13px;
    }
    .error-message {
      color: var(--ion-color-danger);
    }
    .requires{
      color: var(--ion-color-danger);
    }
  }




