.active{
    border-left: 5px solid;
    color: #115bab;
    padding-left: 15px;
    font-weight: bold;
    ion-icon{
        color: #115bab;
    }
}

.menu-header-bg{
    height: 180px;
    width: 350px;
    background: #ffffff;
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
    border: 7px solid #115bab;
}

.header-content{
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
    img{
        //width: 100px;
        //height: 100px;
        height: 4.400rem ;
        width: 90%;
        //border-radius: 50%;
        //border: 7px solid #115bab;
        margin-right: 14px;
    }
    /*img{
        display: flex;
        height: 4.499rem ;
        width: 100%;
    }*/
    h3{
        font-weight: 300;
        color: #ffffff;
    }
    p{
        font-size: 12x;
        color: #ffffff;
        font-weight: 100;
        letter-spacing: 0.4px;
    }
}
.menu-items{
    margin: 0px;
    ion-icon{
        margin-right: 20px;
        color: #115bab;
    }
    ion-item{
        padding-left: 20x;
        margin-bottom: 10px;
    }
}