<ion-menu side="start" menuId="main-menu" contentId="main">

  <ion-content>

    <div class="menu-header-bg"></div>
      <div class="header-content">
        <img src="assets/image/logo.svg" alt="">
      </div>


    <ion-list lines="none" class="menu-items">
      <ion-menu-toggle>
          <ion-item routerLink="tabs/tab1" [class.active]="selected==1" (click)="select(1)">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>{{ "MENU.HOME"|translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="tabs/tab2" [class.active]="selected==2" (click)="select(2)">
          <ion-icon name="apps" slot="start"></ion-icon>
          <ion-label>{{ "MENU.CATEG"|translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="sendEmail()" [class.active]="selected==3" (click)="select(3)">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>{{ "MENU.CONTACT"|translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item [hidden]="!token" (click)="presentAlertMultipleButtons()">
          <ion-icon name="log-out" slot="start" ></ion-icon>
          <ion-label>{{ "MENU.lOGOUT"|translate }}</ion-label>
        </ion-item>
     </ion-menu-toggle>
     <ion-menu-toggle>
        <ion-item [hidden]="token" routerLink="tabs/tab4" [class.active]="selected==4" (click)="select(4)">
          <ion-icon name="log-in" slot="start"></ion-icon>
          <ion-label>{{ "MENU.lOGIN"|translate }}</ion-label>
        </ion-item>
     </ion-menu-toggle>
     <ion-item (click)="toggleLanguages()">
      <ion-icon name="globe" slot="start"></ion-icon>
      {{ "MENU.LNG"|translate }}
      <ion-icon name="add"  *ngIf="languageShow"></ion-icon>
      <ion-icon name="remove"  *ngIf="languageHide"></ion-icon>
    </ion-item>
    <div *ngIf="languageHide" >
      <ion-list>
        <ion-radio-group value="{{selectedLng}}" allow-empty-selection="true" name="radio-group" (ionChange)="radioGroupChange($event)" #radioGroup>
          <ion-item *ngFor="let language of languages">
            <ion-label>{{language.text|translate}}</ion-label>
            <ion-radio slot="start" name="{{language.text}}" value="{{language.value}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
  </ion-list>

  </ion-content>
</ion-menu>
<ion-app>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
