<!--<ion-header>
  <ion-toolbar>
    <ion-title>favoris</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button class="back" text="" ></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-start ion-title-page title">{{ "NAV.WISHLIST"|translate }}</div>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <ng-container  *ngIf="!products.length && contentloaded">
    <div class="list-container">
      {{ "NO_DATA.PRODUCT"|translate }}
    </div>
</ng-container>

  <ion-grid  *ngIf="products.length && contentloaded">
    <ion-row>
      <ng-container *ngIf="products[0].info; else offlineblock">
        <ion-col *ngFor="let product of products" size="6">
          <div>
            <ion-card class="small-content"  *ngIf="product.info">
              <img  class="product-image" src="{{ product.product_image }}" (load)="loadDefault($event)" (load)="product.loaded=true" [hidden]="!product.loaded"
              (click)="wishlistDetails(product.product_id)">
              <img src="assets/image/02.png" [hidden]="product.loaded">
            <div class="delete-container">
                <ion-icon name="trash" (click)="removeWishlist(product)"></ion-icon>
            </div>
            <div class="addcart-container">
              <ion-icon name="cart" (click)="addtocart(product.product_id)" ></ion-icon>
            </div>
              <ion-card-header>
                <ion-card-title class="card-title">{{product.info.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="product-description">
                  <span class="actual-price">{{product.price}} </span>
                </p>
              </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
      </ng-container>
      <ng-template #offlineblock>
        <ion-col *ngFor="let product of products" size="6">
            <div>
            
            <ion-card class="small-content">
              <img  class="product-image" src="{{ product.product_image }}" (load)="loadDefault($event)" (click)="wishlistDetails(product.product_id)">
            <div class="delete-container" (click)="removeWishlist(product)">
              <ion-icon name="trash"></ion-icon>
            </div>
            <div class="addcart-container" (click)="addtocart(product.product_id)">
              <ion-icon name="cart"  ></ion-icon>
            </div>
              <ion-card-header>
                <ion-card-title class="card-title">{{product.product_name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="product-description" >
                  <span class="actual-price">{{product.product_price}} </span>
                </p>
              </ion-card-content>
            </ion-card>
          </div>
          </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>

  <ion-grid  *ngIf="!contentloaded">
    <ion-row>

      <ion-col size="6"> 
        <ion-card class="small-content">
          <ion-thumbnail  class="product-image">
            <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
          </ion-thumbnail> 
          <div class="delete-container2" animated>
          </div>
          <div class="addcart-container2" animated>
          </div>
          <ion-card-header style="padding-top: 150px;">
           <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          </ion-card-header>
          <ion-card-content>
           <p class="product-description">
             <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
           </p>
          </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col size="6"> 
      <ion-card class="small-content">
        <ion-thumbnail  class="product-image">
          <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
        </ion-thumbnail> 
        <div class="delete-container2" animated>
        </div>
        <div class="addcart-container2" animated>
        </div>
        <ion-card-header style="padding-top: 150px;">
         <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </ion-card-header>
        <ion-card-content>
         <p class="product-description">
           <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
         </p>
        </ion-card-content>
      </ion-card>
  </ion-col>
  <ion-col size="6"> 
    <ion-card class="small-content">
      <ion-thumbnail  class="product-image">
        <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
      </ion-thumbnail> 
      <div class="delete-container2" animated>
      </div>
      <div class="addcart-container2" animated>
      </div>
      <ion-card-header style="padding-top: 150px;">
       <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
       <p class="product-description">
         <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
       </p>
      </ion-card-content>
    </ion-card>
</ion-col>
<ion-col size="6"> 
  <ion-card class="small-content">
    <ion-thumbnail  class="product-image">
      <ion-skeleton-text animated style="top: 22px; left: 15px; width: 80%; height: 160px;"></ion-skeleton-text>
    </ion-thumbnail> 
    <div class="delete-container2" animated>
    </div>
    <div class="addcart-container2" animated>
    </div>
    <ion-card-header style="padding-top: 150px;">
     <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </ion-card-header>
    <ion-card-content>
     <p class="product-description">
       <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
     </p>
    </ion-card-content>
  </ion-card>
</ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="token">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{'loadingText' | translate}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>