.title{
	text-transform: capitalize;
}
	
.product-image
{
	width: 100%;	
}

@media only screen and (max-width: 500px) {
	.small-content{
		height: 290px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

@media only screen and (min-width: 501px) and (max-width: 670px){
	.small-content{
		height: 390px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

@media only screen and (min-width: 671px) and (max-width: 800px){
	.small-content{
		height: 450px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

@media only screen and (min-width: 801px){
	.small-content{
		min-height: 450px;
		background-color:#F8F8F8;
		ion-card-header{
			padding-inline: 10px;
			padding: 10px;
			padding-top: 10px;
		}
		ion-card-content{
			-webkit-padding-start: 6px;
			-webkit-padding-end: 6px;
		}
	}
}

/*.small-content{
	min-height: 290px;
	background-color:#F8F8F8;
}*/

.card-title{
	font-size: 12px;
	text-align: center;
}

.product-description
{
	text-align: center;
	font-size: 15px;
	text-overflow: ellipsis;
	//white-space: nowrap;
	overflow: hidden;
	.actual-price
	{
		color: #5b7afc!important;
		font-family: "RalewayBold", sans-serif ;
		font-style: italic;
		text-shadow: 0 3px 5px #c2c2c2;
		vertical-align: middle;
		font-weight: 900;
		letter-spacing: -.7px;
	}
	.previous-price
	{
		text-shadow: 0 0 0 transparent;
		-webkit-text-stroke: 0 #fff;
		color: #646464!important;
		letter-spacing: 1px;
		font-weight: 700;
		text-decoration: line-through;
		&::before
		{
			content: '';
			width: 0px;
			height: 100%;
			margin: 0px 6px 0px 3px;
		}
	}
}

.list-container{
	padding-top: 5.6rem;
	text-align: center;
	align-items: center;
}

.delete-container{
	background-color: #5b7afc;
	opacity: 0;
	position: absolute;
	right: 0px;
	top: 0px;
	border-bottom-left-radius: 5px 5px;
	width: 30px;
	height: 21px;
	text-align: center;
	ion-icon{
		color: white;
		font-size: 17px;
	}
}

.addcart-container{
	background-color: #5b7afc;
	opacity: 0;
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top-right-radius: 5px 5px;
	width: 30px;
	height: 21px;
	ion-icon{
		color: white;
		padding-left: 5px;
		padding-right: 5px;
		font-size: 17px;
	}
}

.delete-container2{
	background-color: rgba(221, 221, 221, 0.89);
	position: absolute;
	right: 0px;
	top: 0px;
	border-bottom-left-radius: 5px 5px;
	width: 30px;
	height: 21px;
}

.addcart-container2{
	background-color: rgba(221, 221, 221, 0.89);
	position: absolute;
	left: 0px;
	bottom: 0px;
	border-top-right-radius: 5px 5px;
	width: 30px;
	height: 21px;
}


.custom-skeleton ion-skeleton-text {
	line-height: 13px;
}
  
.custom-skeleton ion-skeleton-text:last-child {
	margin-bottom: 5px;
}