<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button class="back" text="" ></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-start ion-title-page title">{{ "NAV.FILTER_PROD"|translate }}</div>
</ion-toolbar>
</ion-header>

<ion-content padding>  
  <ion-list>
   
    <ion-item lines="none">
      <ion-label>{{ "NAV.CATEG"|translate }}:</ion-label>
      <!-- <ion-select #catg placeholder="Select One" (ionChange)="changeSelect(catg)">
        <ion-select-option *ngFor="let ca of categories" value="{{ca.id}}">{{ca.name}}</ion-select-option>
      </ion-select> -->
         <ion-select #catg (ionChange)="changeSelect(catg)" interface="action-sheet" cancel-text="Annuler">
        <ng-container *ngFor="let categorie of categories">
          <ion-select-option *ngIf="categorie.id !== 15 && ! categorie.parent" value="{{categorie.id}}">{{categorie.name}}</ion-select-option>
      </ng-container>
         </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        {{ "PRICE"|translate }}:
      </ion-label>
      <ion-range #rang dualKnobs="true" min="10" max="2140" step="1" ticks="false" value="2140" snaps="true" (ionChange)="changeRang(rang)"></ion-range> 
    </ion-item>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label class="ion-text-center">
          {{lowerRang}} € - {{upperRang}} €
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="filterByPrice()">{{ "BTN_TITLE.BTN_FILTER"|translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  <ng-container  *ngIf="!products.length">
      <div class="list-container">
        {{ "NO_DATA.PRODUCT"|translate }}
      </div>
  </ng-container>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let product of products" size="6">
          <div *ngIf="product.images.length">
            <img src="{{product.images[0].src}}" (load)="product.loaded=true" [hidden]="!product.loaded" />
            <img src="assets/image/02.png" [hidden]="product.loaded">
          <ion-card class="small-content">
            <ion-card-header>
              <ion-card-title class="card-title">{{product.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="product-description" *ngIf="product.sale_price">
                <b class="actual-price">${{product.sale_price}}</b>
                <span class="previous-price" [hidden]="product.price == '0'">${{product.regular_price}}</span>
              </p>
              <p class="product-description" *ngIf="!product.sale_price">
                <span class="actual-price" [hidden]="product.price == '0'">${{product.regular_price}}</span>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'loadingText' | translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
