/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-button{
    margin: 0;
    text-transform: capitalize;
}
  ion-header {
    background: linear-gradient(to bottom, #1a7cdb, #115bab);
    border-radius: 0 0 20px 20px;

    &:after {
        background-image: none !important;
    }

    ion-toolbar {
        --background: transparent;
        --color: #fff;

        .ion-title-app {
            font-size: 24px;
            font-weight: 700;
        }

        .ion-title-page {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &:last-of-type {
            --border-width: 0 !important;
        }
    }
}

.custom-loading {
    // background: transparent;
     --background: transparent;
     //--backdrop-opacity: 0;
     
     .loading-wrapper{
         box-shadow: none !important;
         -webkit-box-shadow: none!important;
     }
 }