<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{product.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
 <!-- <ion-slides pager="true" class="slides">
    <ion-slide *ngFor="let image of product.images">
        <img class="product-image" src="{{image.src}}">
    </ion-slide>
   
  </ion-slides>
  
  <div class="categories">
    <ion-badge *ngFor="let category of product.categories" color="primary">{{category.name}}</ion-badge>
  </div>
  <ion-grid>

    <ion-row class="ion-align-items-center">
      <ion-col size="10" class="ion-text-center">
        <ion-button size="small" (click)="AddToCart()"><ion-icon slot="start" name="cart"></ion-icon>Add to cart</ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button size="large" id="fav" color="white"><ion-icon slot="end" name="heart" color="primary"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
<div>
  <ion-slides pager="true" class="slides">
    <ion-slide *ngFor="let image of product.images">
        <img class="product-image" src="{{image.src}}">
    </ion-slide>
  </ion-slides>
</div>
<!--<ion-button size="large" id="fav" color="white" (click)="addfavoris()" ><ion-icon slot="end" name="heart-outline"></ion-icon></ion-button>-->
<div id="actionbtn">
  <!-- <ion-fab-button class="action" (click)="AddToCart()">
    <ion-icon name="cart" color="dark"> </ion-icon>
  </ion-fab-button>-->
  <ion-fab-button class="action" (click)="getShareKey()">
    <ion-icon name="heart" color="dark" *ngIf="!isFav" ></ion-icon>
    <ion-icon name="heart" color="success" *ngIf="isFav"></ion-icon>
  </ion-fab-button>
</div>
<div id="stock_status">
  <ion-button fill="outline" color="success" *ngIf="product.in_stock" size="small">{{"EN_STOCK"|translate}}</ion-button>
  <ion-button fill="outline" color="danger" *ngIf="!product.in_stock" size="small">{{"HORS_STOCK"|translate}}</ion-button>
</div>
<div class="categories">
    <ion-badge *ngFor="let category of product.categories" color="primary">{{category.name}}</ion-badge>
  </div>
  <!--<div  class="ion-text-center" >
    <ion-button size="small" (click)="AddToCart()"><ion-icon slot="start" name="cart"></ion-icon>Add to cart</ion-button>
</div>-->
<div>
  <ion-card class="content">
    <ion-card-header>
      <ion-card-title>{{product.name}}</ion-card-title>
      <ion-card-subtitle class="price">{{product.price}} €</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content [innerHtml]="product.description"></ion-card-content>
  </ion-card>
</div>
  <!-- <ion-button  expand="block" (click)="AddToCart()">Add to cart</ion-button> -->
</ion-content>
<ion-footer class="ion-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <ion-button  expand="block" class="quantity-container" size="small" (click)="decreaseQty()"><ion-icon name="remove-outline"></ion-icon></ion-button>
            <ion-button class="quantity-container" fill="outline" color="medium" size="small">{{quantity}}</ion-button>
            <ion-button  expand="block" class="quantity-container" size="small" (click)="increaseQty()"><ion-icon name="add-outline"></ion-icon></ion-button>
          </div>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="AddToCart()" size="small"><ion-icon slot="start"name="cart"></ion-icon>{{"BTN_TITLE.ADD_CART"|translate}}</ion-button>
        </ion-col> 
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
