.product-image{
  width: 100%;
  position: relative;
}

.slides{
  height: 350px;
}

.content{
  background-color: #F8F8F8;
}
.price{
  color: #5b7afc!important;
  font-family: "RalewayBold", sans-serif ;
  font-size: 20px;
  font-style: italic;
  text-shadow: 0 3px 5px #c2c2c2;
  vertical-align: middle;
  font-weight: 900;
  letter-spacing: -.7px;
}
.buttons{
  position: absolute;
  right: 10px;
  bottom: 2px;
   ::ng-deep ion-fab-button{
    width: 2.5rem;
    height: 2.5rem;
    ion-icon{
      font-size: 1rem;
    }
  }
}

#fav{
  --box-shadow:none;
  position:absolute;
	top:0px;
  right: 0px;
  z-index: 10;
  ion-icon {
    color:#D6D6D6;
  }
}

.action{
  display: inline-block;
  --background	:#DCDCDC;
  margin: 3px;
  width: 40px;
  height: 40px;
  ion-icon{
    font-size : 22px
  }
  :active{
    --background	:#DCDCDC;
  }
}

#actionbtn{
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 40px;
}

.categories{
 // margin-top: 65px;
}

#stock_status{
  position: absolute;
  z-index: 10;
  right: 5px;
  top: 5px;
}

.quantity-container{
  display: inline-block;
  text-align: center;
  padding-right: 5px;
  //height: 30px;
}