<ion-header>
  <ion-toolbar>
    <ion-title  class="ion-text-center"  mode="ios">{{"NAV.COMPTE"|translate}}</ion-title>
    <ion-buttons *ngIf="token" slot="end">
      <ion-button  class="logout" (click)="presentAlertMultipleButtons()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-menu-button menu="main-menu"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!token; else profile">
    <div class="app-title">
      <img src="assets/image/logo.svg" alt="">
    </div>
    <div class="title">
      <span >{{"Identifiez-vous"|translate}}</span>
    </div>
    <form [formGroup]="myForm" class="login-form" (ngSubmit)="login()" #form>
      <div class="field-email">
        <ion-label position="stacked">{{"EMAIL"|translate}}</ion-label>
          <ion-item class="login" lines="none">
            <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-input formControlName="email" name="email" required="true"  type="email"></ion-input>
          </ion-item>
          <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.email.valid && myForm.controls.email.touched">
            {{"REQUIRED.EMAIL_REQUIERED"|translate}}
        </ion-item>
      </div>
      <div class="field-password">
        <ion-label position="stacked">{{"PASSWORD"|translate}}</ion-label>
        <ion-item class="login" lines="none" *ngIf="showpassword">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input clear-on-edit="false" formControlName="password" name="password" required="true"  type="text"></ion-input>
            <ion-icon name="eye" color="dark" slot="end" (click)="togglePasswordText()"></ion-icon>
        </ion-item>
        <ion-item class="login" lines="none" *ngIf="!showpassword">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input clear-on-edit="false" formControlName="password" name="password" required="true"  type="password"></ion-input>
            <ion-icon name="eye-off-outline" color="dark" slot="end" (click)="togglePasswordText()"></ion-icon>
        </ion-item>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.password.valid && myForm.controls.password.touched">
          {{"REQUIRED.PASSWORD_REQUIERED"|translate}}
        </ion-item>
      </div>
      <div>
        <ion-button  type="submit" class="btn-login"  expand="block">{{"MENU.lOGIN"|translate}}</ion-button>
      </div> 
    </form>
    <ion-row>
      <ion-col class="ion-text-center">
        <div class="account">
          <span >{{"NO_ACCOUNT"|translate}}</span><span [routerLink]="['register']" class="register">{{"SUBSRIBE"|translate}}</span>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <ng-template #profile>
    <ion-segment  color="dark" value="all" [(ngModel)]="segmentModel" 
    (ionChange)="segmentChanged($event)">
      <ion-segment-button value="profile">
        {{"PROFILE"|translate}}
      </ion-segment-button>
      <ion-segment-button value="orders">
        {{"ORDERS"|translate}}
      </ion-segment-button>
    </ion-segment>
    <div *ngIf="segmentModel === 'profile'">
      <form [formGroup]="myForm">
        <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-label >{{"Prénom"|translate}}</ion-label>
                  <ion-textarea formControlName="first_name" type="text" placeholder="{{'Prénom'|translate}}"  rows="1" readonly ></ion-textarea>
              </ion-col>
          </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label >{{"Nom"|translate}}</ion-label>
            <ion-textarea  formControlName="last_name" type="text" placeholder="{{'Nom'|translate}}"  rows="1" readonly></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label>{{"EMAIL"|translate}}</ion-label>
                <ion-textarea formControlName="email" type="text" placeholder="{{'EMAIL'|translate}}" rows="1" readonly></ion-textarea>

            </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{"Addresse"|translate}}</ion-label>
            <ion-textarea formControlName="address_1"  type="text" placeholder="{{'Addresse'|translate}}" rows="1" readonly></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label >{{"Téléphone"|translate}}</ion-label>
            <ion-textarea formControlName="phone" type="text" placeholder="{{'Téléphone'|translate}}" rows="1" readonly></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label >{{"Entreprise"|translate}}</ion-label>
            <ion-textarea formControlName="company" type="text" placeholder="{{'Entreprise'|translate}}" rows="1" readonly></ion-textarea>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              <ion-button id="button-edit-profile" expand="block" (click)="editProfile()">{{"NAV.EDIT_PROFILE"|translate}}</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
  <div *ngIf="segmentModel === 'orders'">
    <div class="card" *ngFor="let order of orders">
      <ng-container>
        <div class="info-container">
          <ion-grid>
            <ion-row>
              <ion-col size="10" (click)="viewDetails(order.id)">
                <ion-label class="order-name" color="primary">{{"Commande_no"|translate}} : {{order.number}}</ion-label>
                <ion-label class="order-date" color="dark"> <ion-icon name="time-outline" color="dark"></ion-icon> {{order.date_created | date: 'dd/MM/yyyy H:mm' }}</ion-label>
                <ion-label class="order-status-{{order.status}}">{{order.status}}</ion-label>
                <ion-badge class="order-price"> {{order.total}} {{order.currency_symbol}} </ion-badge>
              </ion-col>
              <ion-col size="2">
                <div class="delete-container">
                  <ion-button fill="clear"  (click)="removeOrder(order.id)">
                      <ion-icon name="trash" color="danger"></ion-icon>
                  </ion-button>
                  <!--<ion-button fill="clear" (click)="viewDetails(order.id)">
                    <ion-icon name="add-circle-outline" color="success" ></ion-icon>
                  </ion-button>-->
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ng-container>
    </div>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="{{'loadingText' | translate}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
  </ng-template>
</ion-content>

