
  .title{
    text-transform: capitalize;
  }
  .registration-form{
    ::ng-deep{
      input,input::placeholder{
        line-height: 1.1;
      }
      font-family: "RalewayMedium", sans-serif ;
    }
    ion-input {
      border: solid 1px #707070;
      border-radius: 5px;
      --placeholder-color:#484D4C;
      --padding-start:13.5px;
      line-height: 1.1;
      font-family: "RalewayMedium", sans-serif ;
  
    }
    ion-grid{
      margin-left: 28px;
      margin-right: 23px;
    }
    ion-label{
      font-size: 12px;
      font-family: "RalewayMedium", sans-serif ;
      margin-bottom: .8rem;
      display: block;
      font-weight: bold;
    }
    ion-item{
      font-size: 12px;
    }
    ion-button{
      --background:#5B7AFC;
      text-transform: capitalize;
      font-family: "RalewayMedium", sans-serif ;
    }
    ion-item{
      font-weight: 500;
    }
    .label-title{
      margin-right: 13px !important;
      font-size: 13px;
    }
    .error-message {
      color: var(--ion-color-danger);
    }
    .requires{
      color: var(--ion-color-danger);
    }
  }