<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons  slot="start">
      <ion-back-button class="back" text="" ></ion-back-button>
    </ion-buttons>
    <div class="ion-padding-start ion-title-page title">{{"NAV.register"|translate}}</div>
</ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="myForm" class="registration-form">
    <ion-grid>
      <ion-row>
          <ion-col>
              <ion-label >{{"Prénom"|translate}}<span class="requires">*</span></ion-label>
              <ion-input formControlName="first_name"  type="text" placeholder="{{'Prénom'|translate}}"></ion-input>
              <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.first_name.valid && myForm.controls.first_name.touched">
                {{"REQUIRED.PRENOM_REQUIERED"|translate}} 
            </ion-item>
          </ion-col>
      </ion-row>
  </ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-label >{{"Nom"|translate}}<span class="requires">*</span></ion-label>
        <ion-input  formControlName="last_name" type="text" placeholder="{{'Nom'|translate}}"></ion-input>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.last_name.valid && myForm.controls.last_name.touched">
          {{"REQUIRED.NOM_REQUIERED"|translate}} 
      </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-label >{{"USERNAME"|translate}}<span class="requires">*</span></ion-label>
        <ion-input  formControlName="username" type="text" placeholder="{{'USERNAME'|translate}}"></ion-input>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.username.valid && myForm.controls.username.touched">
          {{"REQUIRED.USERNAME_REQUIERED"|translate}} 
      </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-label >{{"EMAIL"|translate}}<span class="requires">*</span></ion-label>
        <ion-input formControlName="email" type="text" placeholder="{{'EMAIL'|translate}}"></ion-input>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.email.valid && myForm.controls.email.touched">
          {{"REQUIRED.EMAIL_REQUIERED"|translate}} 
      </ion-item>
      </ion-col>
  </ion-row>
<!--   <ion-row>
    <ion-col>
      <ion-label >{{"Confirm Email"|translate}}<span class="requires">*</span></ion-label>
      <ion-input formControlName="confirmemail" type="text"  placeholder="Confirmez votre adresse mail"></ion-input>
      <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.confirmemail.valid && myForm.controls.confirmemail.touched">
        Emails does not match.
    </ion-item>
    </ion-col>
</ion-row> -->
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-label >{{"PASSWORD"|translate}}<span class="requires">*</span></ion-label>
        <ion-input clear-on-edit="false" formControlName="password"  type="password" placeholder="{{'PASSWORD'|translate}}"></ion-input>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.password.valid && myForm.controls.password.touched">
          {{"REQUIRED.PASSWORD_REQUIERED"|translate}} 
      </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-label >{{"ConfirmerPwd"|translate}}<span class="requires">*</span></ion-label>
        <ion-input clear-on-edit="false" formControlName="confirmpassword"  type="password" placeholder="{{'ConfirmerPwd'|translate}}"></ion-input>
        <ion-item lines="none" class="error-message" *ngIf="!myForm.controls.confirmpassword.valid && myForm.controls.confirmpassword.touched">
          {{"REQUIRED.CONFIRM_PASSWORD_REQUIERED"|translate}} 
      </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
      <ion-col>
        <ion-button [disabled]="!myForm.valid" expand="block" (click) ="register()" >{{"SUBSRIBE"|translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>